.mainContainer {
  @apply w-full bg-[#f0f6ff] py-6 flex flex-col justify-center items-center sm:py-12;
}

/** Form */
.form {
  @apply bg-white w-full max-w-2xl p-8 shadow-xl rounded-xl;
}
.form h2 {
  @apply text-4xl font-bold mb-2;
}
.form legend {
  @apply font-semibold text-[var(--color-principal)];
}


/** Input group */
.inputGroup {
  @apply flex flex-col gap-1 mb-8;
}
.inputGroup div{
  @apply relative;
}
.inputGroup div span{
  @apply absolute right-0 -bottom-5 text-red-400 text-xs;
}
.inputGroup h3 {
  @apply text-[var(--color-principal)];
}

.inputGroup input {
  @apply w-full bg-white border border-gray-300 p-2 rounded shadow-sm mb-4;
  @apply focus:border-[var(--color-principal)] focus:bg-white placeholder-gray-400;
}

.inputGroup select {
  @apply w-full bg-white border border-gray-300 p-2 rounded shadow-sm mb-4;
  @apply focus:border-[var(--color-principal)] focus:bg-white placeholder-gray-400;
}
.inputInvalid{
  @apply border border-red-400 !important;
}

/** navigation by steps */
.navigationControls {
  @apply w-full justify-between mt-4 flex flex-row-reverse;
}
.submitButton {
  @apply py-3 px-5 bg-[var(--color-principal)] text-blue-100 rounded text-sm font-bold;
}
.submitButton:disabled,
.nextButton:disabled{
  @apply opacity-40 cursor-not-allowed;
}
.backButton, 
.nextButton{
  @apply flex flex-row items-center text-xs font-bold;
}
.backButton {
  @apply bg-gray-100 text-gray-400 rounded py-2 px-3;
}
.nextButton {
  @apply bg-blue-100 rounded py-2 px-3 text-[var(--color-principal)] flex-row-reverse;
}

/** navigation controls */
.reference{
  @apply w-full flex items-center justify-center gap-1 py-4;
}
.markerBlue,
.markerGray{
  @apply rounded-full w-2 h-2;
}
.markerBlue{
  @apply bg-[var(--color-principal)];
}
.markerGray{
  @apply bg-gray-300;
}
.markerStepActive {
@apply h-6 w-6 rounded-full bg-[var(--color-principal)] text-white text-center text-[10px] font-bold leading-6
}

.markerStepDefault {
@apply h-6 w-6 rounded-full bg-gray-100 text-center text-[10px] font-bold leading-6
}


.buttonStepActive {
@apply inline-flex items-center rounded border border-[var(--color-principal)] px-4 py-1 text-[var(--color-principal)] hover:bg-[var(--color-principal)] hover:text-white focus:outline-none focus:ring active:bg-[var(--color-secundario)]
}

.buttonStepInactive {
@apply inline-flex items-center rounded border  px-4 py-1  bg-red-400
}